.logo-container {
    position: relative;
    left: 70px;
}

.logo-img {
    height: 90px; 
}

.header-gradient {
    background: linear-gradient(to right, #090909, #1c1c1c);
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 1.75rem;
    text-align: center;
}

.brand-name {
    color: white;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

.navbar {
    text-align: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    margin: 0 10px;
}

.container {
    margin-top: 20px;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #ddd;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    max-height: 250px;
    object-fit: cover;
}

.card-body {
    text-align: justify;
    line-height: 1.5;
}

.short-text, .full-text {
    text-align: justify;
    line-height: 1.5;
}

.read-more {
    margin-top: 15px;
}

.card-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.list-group-item {
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Arial', sans-serif;
}

.list-group-item:hover {
    background-color: #91bf79;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #444;
}

.section-black-bg {
    background-color: #000;
    color: #fff;
    padding: 20px 10px;
    max-width: 100vw;
    margin: 0 auto; 
}

.icone-facilidade img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}
